footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 254, 249);
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
    // color: rgb(228, 137, 124);
    font-family: 'Roboto',
    sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
}

