ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
    li {
        
        a {
            text-decoration: none;
            color: rgb(255, 254, 249);
            font-family: 'Zen Kaku Gothic New', sans-serif;
            font-weight: 500;
            font-size: 2rem;
            letter-spacing: -3px;
            position: relative;
            top: 5px;
            right: 15px;
            text-transform: uppercase;
        }
        text-align: end;
    }
}