body {
    background-image: url('../resources/styles/images/image.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content {
    margin: 5% auto;
    text-align: center;
    padding: 5% 3%;
    position: relative;
    z-index: 10;
    border: 1px solid whitesmoke;
    border-radius: 3%;
    background: rgba(255, 255, 255, 0.2);
}
.content::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url('../resources/styles/images/image.png');
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    z-index: -1;
    filter: blur(5px);
}

// .content::before,
// .answer::before {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background-image: url(./images/header-1.jpg);
//     background-repeat: no-repeat;
//     background-attachment: fixed;
//     background-size: cover;
//     background-position: top;
//     filter: blur(10px);
//     z-index: -1;
// }