body {
    background-image: url('../resources/styles/images/image.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content {
    margin: 10% auto;
    text-align: center;
    padding: 5% 3%;
    position: relative;
    z-index: 10;
    border: 1px solid whitesmoke;
    border-radius: 3%;
    background: rgba(255, 255, 255, 0.2);
    h1,
    h2 {
        color: rgb(255, 254, 249);
        text-shadow: 1px 1px 3px rgb(0, 0, 0);
        // color: rgb(228, 137, 124);
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        letter-spacing: 3px;
    }
}
.content::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url('../resources/styles/images/image.png');
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    z-index: -1;
    filter: blur(5px);
}

.film-content {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 254, 249);
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
    margin: 10% auto;
    text-align: center;
    padding: 5% 3%;
    position: relative;
    z-index: 10;
    border: 1px solid whitesmoke;
    border-radius: 3%;
    background: rgba(255, 255, 255, 0.2);


    h3 {
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 3px;
        // text-shadow: 1px 1px 3px rgb(0, 0, 0);

    }
    .description {
        width: 70%;
        // font-family: 'Roboto', sans-serif;
        letter-spacing: 1px;
        line-height: 1.5;
    }
    .image-container {
        width: 40%;
        img {
            width: 100%;
        }
    }

}

.film-content::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url('../resources/styles/images/image.png');
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    z-index: -1;
    filter: blur(5px);
}